<header class='g-header--@@color'>
	<div class='g-header--inner'>
		<h1 class="g-header--logo">
			<a href='http://www.bostonglobe.com'>
				<img class='inject' src='http://apps.bostonglobe.com/common/img/logo.svg'>
			</a>
		</h1>
		<h2 class='g-header--title'>
			@@section_cap
		</h2>
		<ul class='g-header--social-list'>
			<li class='g-header--social-item'>
				<a href='#'>
					<img class='inject' src='http://apps.bostonglobe.com/common/img/facebook.svg'>
				</a>
			</li>
			<li class='g-header--social-item'>
				<a href='#'>
					<img class='inject' src='http://apps.bostonglobe.com/common/img/twitter.svg'>
				</a>
			</li>
		</ul>
	</div>
</header>