 <!-- omniture tracking -->
<script src='http://apps.bostonglobe.com/common/js/omniture/s_code_bgcom.js' type='text/javascript'></script>

<!-- omniture variables -->

<script language='JavaScript' type='text/javascript'>
    s.pageName='@@title',s.channel='@@section',s.prop1='"@@section | Specials';
    s.server='',s.pageType='',s.prop2='',s.prop3='',s.prop4='',s.prop5='',s.prop6='Infographic',s.prop7='',s.prop8='',s.prop9='',s.prop10='',s.prop14='',s.prop41=s.eVar41='BostonGlobe.com';

    var s_code=s.t();if(s_code)document.write(s_code)

    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
</script>

<noscript><img src="http://newyorktimes.112.2o7.net/b/ss/nytbostonglobecom/1/H.23.8--NS/0" height="1" width="1" border="0" alt="" /></noscript>
<!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.23.8. -->