<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> partial-meta }}
        {{> partial-head }}
    </head>
    <body>
        {{> partial-header }}
        <div id='globe-graphic-container' class='typeset'>
            {{> partial-graphic }}
        </div>
        {{> partial-footer }}
        {{> partial-js }}

        {{!-- {{> partial-analytics }} --}}
    </body>
</html>
       