<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> base-meta }}
        {{> base-head }}
    </head>
    <body>
        {{> base-header }}
        <div id='globe-graphic-container' class='typeset'>
            {{> graphic }}
        </div>
        {{> base-footer }}
        {{> base-js }}

        {{!-- {{> base-analytics }} --}}
    </body>
</html>
       